<!-- State Counter Section Start -->
<div class="state-counter">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">Dôraz na spokojnosť</h3>
                    <h2 class="text-anime-style-3">
                        Výsledky našej práce sú dôkazom dôvery klientov
                    </h2>
                </div>
                <!-- Section Title End -->

                <!-- Counter Contact Btn Start -->
                <div class="counter-contact-btn wow fadeInUp" data-wow-delay="0.25s">
                    <a href="/kontakt.html" class="btn-default">Kontaktujte nás</a>
                </div>
                <!-- Counter Contact Btn End -->
            </div>

            <div class="col-lg-7">
                <!-- State Image Counter Start -->
                <div class="state-image-counter-1">
                    <!-- Counter Box Start -->
                    <div class="counter-box wow fadeInUp">
                        <div class="counter-content">
                            <h3><span class="counter">1500</span>+</h3>
                            <p>Klientov v minulom roku</p>
                        </div>
                    </div>
                    <!-- Counter Box End -->

                    <!-- Counter Box Image Start -->
                    <div class="counter-box counter-image wow fadeInUp" data-wow-delay="0.25s">
                        <picture class="image-anime reveal">
                            <img src="./assets/images/klientov-tyzdenne.jpg" loading="lazy" />
                        </picture>
                    </div>
                    <!-- Counter Box Image End -->

                    <!-- Counter Box Start -->
                    <div class="counter-box wow fadeInUp" data-wow-delay="0.5s">
                        <div class="counter-content">
                            <h3><span class="counter">600</span>+</h3>
                            <p>Dedičských konaní / notárskych úschov</p>
                        </div>
                    </div>
                    <!-- Counter Box End -->
                </div>

                <!-- State Image Counter End -->
                <div class="state-image-counter-2">
                    <!-- Counter Box Image Start -->
                    <div class="counter-box counter-image wow fadeInUp" data-wow-delay="0.75s">
                        <picture class="image-anime">
                            <img src="./assets/images/overene-podpisy.jpg" alt="Overenie dokumentov"
                                title="Overenie dokumentov" decoding="async" loading="lazy" />
                        </picture>
                    </div>
                    <!-- Counter Box Image End -->

                    <!-- Counter Box Start -->
                    <div class="counter-box wow fadeInUp" data-wow-delay="1s">
                        <div class="counter-content">
                            <h3><span class="counter">2500</span>+</h3>
                            <p>Overených dokumentov ročne</p>
                        </div>
                    </div>
                    <!-- Counter Box End -->

                    <!-- Counter Box Image Start -->
                    <div class="counter-box counter-image wow fadeInUp" data-wow-delay="1.25s">
                        <picture class="image-anime">
                            <img src="./assets/images/dedickych-konani.jpg" alt="Skúsenosti notárky"
                                title="Skúsenosti notárky" decoding="async" loading="lazy" />
                        </picture>
                    </div>
                    <!-- Counter Box Image End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- State Counter Section End -->