<!-- Footer Start -->
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Footer About Start -->
                <div class="footer-about">
                    <div class="row">
                        <div class="col-lg-5">
                            <!-- Footer Logo Start -->
                            <div class="footer-logo">
                                <img src="/assets/images/logo-white-footer.svg" alt="Logo" title="Logo"
                                    decoding="async" loading="lazy" />
                            </div>
                            <!-- Footer Logo End -->
                        </div>

                        <div class="col-lg-7">
                            <!-- Footer Title Start -->
                            <div class="footer-title">
                                <h2>
                                    Notársky úrad pripravený riešiť vaše potreby.
                                </h2>
                            </div>
                            <!-- Footer Title End -->
                        </div>
                    </div>
                </div>
                <!-- Footer End Start -->

                <!-- Footer Body Start -->
                <div class="footer-body">
                    <div class="row">
                        <div class="col-lg-5">

                        </div>

                        <div class="col-lg-7">
                            <div class="row">
                                <div class="col-md-4 col-6">
                                    <!-- Footer Links Start -->
                                    <div class="footer-links">
                                        <h2>Odkazy</h2>
                                        <ul>
                                            <li>
                                                <a href="/">Úvod</a>
                                            </li>
                                            <li>
                                                <a href="about.html">O nás</a>
                                            </li>
                                            <li>
                                                <a href="services.html">Služby</a>
                                            </li>
                                            <li>
                                                <a href="kontakt.html">Kontakt</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Footer Links End -->
                                </div>

                                <div class="col-md-4 col-6">
                                    <!-- Footer Links Start -->
                                    <div class="footer-links">
                                        <h2>Sociálne siete</h2>
                                        <ul>
                                            <li>
                                                <a href="#">instagram</a>
                                            </li>
                                            <li>
                                                <a href="#">facebook</a>
                                            </li>
                                            <li>
                                                <a href="#">twitter</a>
                                            </li>
                                            <li>
                                                <a href="#">linkedin</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Footer Links End -->
                                </div>

                                <div class="col-md-4">
                                    <!-- Footer Contact Start -->
                                    <div class="footer-contact">
                                        <h2>Kontaktujte nás</h2>
                                        <ul>
                                            <li>
                                                <a href="mailto:ivica.hodalova@notar.sk">ivica.hodalova@notar.sk</a>
                                            </li>
                                            <li>
                                                <a href="tel:+421948154432">+421 948 154 432</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Footer Contact End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Body End -->

                <!-- Copyright Footer Start -->
                <div class="footer-copyright">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <!-- Footer Copyright Content Start -->
                            <div class="footer-copyright-text">
                                <p>
                                    © Všetky práva vyhradené. <span class="text_nowrap">Created with <span
                                            class="color4">♥︎</span> by <strong><a href="https://sjb.digital/" style="color: #d4d6E7;" class="">
                                            SJB digital</a></strong></span>
                                </p>
                            </div>
                            <!-- Footer Copyright Content End -->
                        </div>
                    </div>
                </div>
                <!-- Copyright Footer End -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->