<!-- Header Start -->
<header class="main-header">
    <div class="header-sticky">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo Start -->
                <a class="navbar-brand" href="./">
                    <img src="/assets/images/logo.svg" alt="Logo" loading="eager" decoding="async" title="logo"
                        height="40" />
                </a>
                <!-- Logo End -->

                <!-- Main Menu Start -->
                <div class="collapse navbar-collapse main-menu">
                    <div class="nav-menu-wrapper">
                        <ul class="navbar-nav mr-auto" id="menu">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Úvod</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">O nás</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Služby</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="kontakt.html">Kontakt</a>
                            </li>

                            <li class="nav-item highlighted-menu">
                                <a class="nav-link" href="/kontakt.html">Objednať sa</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Let’s Start Button Start -->
                    <div class="header-btn d-inline-flex">
                        <a href="kontakt.html" class="btn-default">Objednať sa</a>
                    </div>
                    <!-- Let’s Start Button End -->
                </div>
                <!-- Main Menu End -->

                <div class="navbar-toggle"></div>
            </div>
        </nav>
        <div class="responsive-menu"></div>
    </div>
</header>
<!-- Header End -->