<!-- Why Choose Us Section Start -->
<div class="why-choose-us light-bg-section">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">15 rokov notárskej praxe</h3>
                    <h2 class="text-anime-style-3">
                        Profesionalita, spoľahlivosť a diskrétnosť pre každého klienta
                    </h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Title Content Start -->
                <div class="section-title-content wow fadeInUp" data-wow-delay="0.25s">
                    <p>
                        Náš notársky úrad vám poskytne odborné, spoľahlivé a rýchle služby s dôrazom na individuálny prístup. Zrozumiteľná
                        komunikácia, diskrétnosť a profesionalita sú pre nás samozrejmosťou. Využívame dlhoročné skúsenosti na to, aby sme vám
                        poskytli právnu istotu a komfort pri riešení vašich záležitostí. S nami máte istotu, že vaše dokumenty budú spracované
                        presne, zákonne a s maximálnou starostlivosťou.
                    </p>
                </div>
                <!-- Section Title Content End -->
            </div>
        </div>

                        <div class="row">
                            <div class="col-lg-4">
                                <!-- Why Choose Item Start -->
                                <div class="why-choose-item wow fadeInUp" data-wow-delay="0.25s">
                                    <div class="icon-box">
                                        <img src="./assets/images/icon-why-choose-1.svg" alt="Why choose" title="Why choose" decoding="async"
                                            loading="lazy" />
                                    </div>
                                    <div class="why-choose-body">
                                        <h3>Experti, ktorým môžete dôverovať</h3>
                                        <p>
                                            Skúsení notári s profesionálnym prístupom a dlhoročnou expertízou pre vaše právne istoty.
                                        </p>
                                    </div>
                                </div>
                                <!-- Why Choose Item End -->
                            </div>
                        
                            <div class="col-lg-4">
                                <!-- Why Choose Item Start -->
                                <div class="why-choose-item wow fadeInUp" data-wow-delay="0.5s">
                                    <div class="icon-box">
                                        <img src="./assets/images/icon-why-choose-2.svg" alt="Why choose" title="Why choose" decoding="async"
                                            loading="lazy" />
                                    </div>
                                    <div class="why-choose-body">
                                        <h3>Zrozumiteľná komunikácia</h3>
                                        <p>
                                            Jasné, presné a zrozumiteľné vysvetlenia pre vaše právne záležitosti.
                                        </p>
                                    </div>
                                </div>
                                <!-- Why Choose Item End -->
                            </div>
                        
                            <div class="col-lg-4">
                                <!-- Why Choose Item Start -->
                                <div class="why-choose-item wow fadeInUp" data-wow-delay="0.75s">
                                    <div class="icon-box">
                                        <img src="./assets/images/icon-why-choose-3.svg" alt="Why choose" title="Why choose" decoding="async"
                                            loading="lazy" />
                                    </div>
                                    <div class="why-choose-body">
                                        <h3>Spokojnosť klienta</h3>
                                        <p>
                                            Individuálny prístup a spoľahlivé služby pre vašu maximálnu spokojnosť.
                                        </p>
                                    </div>
                                </div>
                                <!-- Why Choose Item End -->
                            </div>
                        </div>
    </div>
</div>
<!-- Why Choose Us Section End -->