<!-- Service Sidebar Start -->
<div class="service-sidebar">
    <!-- Service Catagery List Start -->
    <div class="service-catagery-list wow fadeInUp">
        <h3>Služby notára</h3>
        <ul>
            <li><a href="overovanie.html">Overovanie podpisov a dokumentov</a></li>
            <li><a href="dedicske-konania.html">Dedičské konania</a></li>
            <li><a href="zmluvy-a-dohody.html">Spisovanie zmlúv a dohôd</a></li>
            <li><a href="zavet-a-majetok.html">Závet a správa majetku</a></li>
            <li><a href="notarske-uschovy.html">Notárske úschovy</a></li>
            <li><a href="apostilacia.html">Legalizácia a apostilácia dokumentov</a></li>
            <li><a href="bsm.html">Zúženie / rozšírenie BSM</a></li>
            <li><a href="obchodne-spolocnosti.html">Obchodné spoločnosti</a></li>
            <li><a href="orsr.html">Registrácia s.r.o. do OR SR</a></li>
        </ul>
    </div>
    <!-- Service Catagery List End -->

    <!-- Sidebar Cta Box Start -->
    <div class="sidebar-cta-box wow fadeInUp" data-wow-delay="0.5s">
        <!-- Sidebar Cta Image Start -->
        <div class="sidebar-cta-image">
            <picture class="image-anime">
                <!-- <source type="image/avif" srcset="../assets/images/service-cta-bg.avif"/>-->
                <!-- <source type="image/webp" srcset="../assets/images/service-cta-bg.webp" />-->

                <img src="../assets/images/service-cta-bg.jpg" alt="Doplni wordpress" title="Doplni wordpress"
                    decoding="async" loading="lazy" />
            </picture>
        </div>
        <!-- Sidebar Cta Image End -->

        <!-- Sidebar Cta Content Start -->
        <div class="sidebar-cta-content">
            <h3>Potrebujete poradiť? Radi vám pomôžeme</h3>
            <a href="/kontakt.html" class="btn-default btn-highlighted">Kontaktujte nás</a>
        </div>
        <!-- Sidebar Cta Content End -->
    </div>
    <!-- Sidebar Cta Box End -->
</div>
<!-- Service Sidebar End -->