<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Obchodné spoločnosti | Notársky úrad JUDr. Ivica Hodálová, PhD.</title>
		<!-- Google Fonts Css-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>

		<!-- Head doplni wordpress-->
	</head>

	<body class="tt-magic-cursor">
		<!-- Preloader Start
		<div class="preloader">
			<div class="loading-container">
				<div class="loading"></div>
				<div id="loading-icon">
					<img
						src="../assets/images/loader.svg"
						alt="Loader"
						title="Loader"
						decoding="async"
						loading="lazy"
					/>
				</div>
			</div>
		</div>
		Preloader End -->

		<!-- Magic Cursor Start -->
		<div id="magic-cursor">
			<div id="ball">
				<div class="circle"></div>
			</div>
		</div>
		<!-- Magic Cursor End -->

		{{> header }}

		<!-- Page Header Start -->
		<div class="page-header light-bg-section">
		  <div class="container">
			<div class="row">
			  <div class="col-lg-12">
				<div class="page-header-box">
				  <h1 class="text-anime-style-3">Obchodné spoločnosti</h1>
				  <p class="wow fadeInUp" data-wow-delay="0.25s" style="max-width: 800px;margin: auto;padding-bottom: 25px;">
					Notár asistuje pri zakladaní, zmene alebo zrušení obchodných spoločností.
				  </p>
				  <div class="hero-content-footer wow fadeInUp" data-wow-delay="0.75s"
					  style="visibility: visible; animation-delay: 0.75s;">
					  <a href="/kontakt.html" class="btn-default">Objednať sa</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<!-- Page Header End -->

		<!-- Single Service Page Start -->
		<div class="page-service-single">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="service-single-content">
							<!-- Service Featured Image Start -->
							<div class="service-featured-image">
								<picture class="image-anime reveal">
									<!-- <source type="image/avif" srcset="../assets/images/service-img-1.avif"/>-->
									<!-- <source type="image/webp" srcset="../assets/images/service-img-1.webp" />-->

									<img
										src="../assets/images/obchodne-spolocnosti.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- Service Featured Image End -->

							<!-- Service Entry Content Start -->
							<div class="service-entry">
<h2 class="text-anime-style-3">Obchodné spoločnosti</h2>
<p class="wow fadeInUp">
  Notár asistuje pri zakladaní, zmene alebo likvidácii obchodných spoločností. Vypracuje zakladateľské listiny, zabezpečí ich podpis a zápis do obchodného registra. Celý proces je v súlade s legislatívnymi požiadavkami, čím sa eliminuje riziko chýb alebo odmietnutí.
</p>

<div class="about-company-service wow fadeInUp" data-wow-delay="0.5s"
	style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
	<div class="icon-box">
		<img src="../assets/images/icon-service-step-3.svg" alt="Krok 3" title="Krok 3">
	</div>
	<div class="company-service-content">

		<p style="font-weight: bold; font-size: 18px">Efektívne riešenie pre podnikateľov, ktoré šetrí čas a minimalizuje administratívnu záťaž.</p>
	</div>
</div>

<h3 class="text-anime-style-3">Ako prebieha založenie alebo zmena spoločnosti</h3>
<p class="wow fadeInUp">
  Notár vás prevedie procesom zakladania obchodnej spoločnosti od prípravy zakladateľských dokumentov cez úradné overenie až po zápis do obchodného registra. Každý krok je realizovaný v súlade s platnými právnymi predpismi.
</p>

<div class="services-step">
	<div class="row">
		<div class="col-md-4">
			<div class="services-step-box wow fadeInUp" data-wow-delay="0.25s">
				<div class="icon-box">
					<h4 style="color: white">1</h4>
				</div>
				<div class="services-step-content">
					<h3>Vypracovanie dokumentov</h3>
					<p>Notár pripraví dokumenty (napr. spoločenské zmluvy).</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="services-step-box wow fadeInUp" data-wow-delay="0.5s">
				<div class="icon-box">
					<h4 style="color: white">2</h4>
				</div>
				<div class="services-step-content">
					<h3>Overenie podpisov</h3>
					<p>Podpisy zakladateľov sú úradne overené notárom.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="services-step-box wow fadeInUp" data-wow-delay="0.75s">
				<div class="icon-box">
					<h4 style="color: white">3</h4>
				</div>
				<div class="services-step-content">
					<h3>Podanie na OR SR</h3>
					<p>Notár zabezpečí podanie návrhu na zápis alebo zmenu v OR SR.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<hr style="color:#cdcaca; padding-bottom: 15px;" />
<h3 class="text-anime-style-3">Výhody pre klienta</h3>
<p class="wow fadeInUp">
  Zakladanie spoločností prostredníctvom notára šetrí váš čas a zabezpečuje hladký priebeh administratívy. Profesionálne vedenie procesu eliminuje riziko chýb a zaisťuje súlad so zákonom.
</p>

<div class="customer-Benefit">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="customer-benefit-image">
        <img src="../assets/images/vyhody-1.jpg" alt="Výhody pre klientov" title="Výhody pre klientov" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="customer-Benefit-content wow fadeInUp" data-wow-delay="0.5s">
        <ul>
          <li>Rýchly a bezproblémový proces založenia spoločnosti.</li>
          <li>Zabezpečenie súladu so zákonmi a predpismi.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
							</div>
							<!-- Service Entry Content End -->
						</div>
					</div>

					<div class="col-lg-4">
						{{> sluzby }}
					</div>
				</div>
			</div>
		</div>
		<!-- Single Service Page End -->

		{{> footer }}
	</body>
</html>
