<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>
Registrácia s.r.o. do Obchodného registra SR | Notársky úrad JUDr. Ivica Hodálová, PhD.
		</title>
		<!-- Google Fonts Css-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>

		<!-- Head doplni wordpress-->
	</head>

	<body class="tt-magic-cursor">
		<!-- Preloader Start
		<div class="preloader">
			<div class="loading-container">
				<div class="loading"></div>
				<div id="loading-icon">
					<img
						src="../assets/images/loader.svg"
						alt="Loader"
						title="Loader"
						decoding="async"
						loading="lazy"
					/>
				</div>
			</div>
		</div>
		Preloader End -->

		<!-- Magic Cursor Start -->
		<div id="magic-cursor">
			<div id="ball">
				<div class="circle"></div>
			</div>
		</div>
		<!-- Magic Cursor End -->

		{{> header }}

		<!-- Page Header Start -->
		<div class="page-header light-bg-section">
		  <div class="container">
			<div class="row">
			  <div class="col-lg-12">
				<div class="page-header-box">
				  <h1 class="text-anime-style-3">Registrácia s.r.o. do Obchodného registra SR</h1>
				  <p class="wow fadeInUp" data-wow-delay="0.25s" style="max-width: 800px;margin: auto;padding-bottom: 25px;">
					Notár vykonáva zápis prvozápisu aj zmien údajov spoločnosti do OR SR v súlade s aktuálnou legislatívou.
				  </p>
				  <div class="hero-content-footer wow fadeInUp" data-wow-delay="0.75s"
					  style="visibility: visible; animation-delay: 0.75s;">
					  <a href="/kontakt.html" class="btn-default">Objednať sa</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<!-- Page Header End -->

		<!-- Single Service Page Start -->
		<div class="page-service-single">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="service-single-content">
							<!-- Service Featured Image Start -->
							<div class="service-featured-image">
								<picture class="image-anime reveal">
									<!-- <source type="image/avif" srcset="../assets/images/service-img-1.avif"/>-->
									<!-- <source type="image/webp" srcset="../assets/images/service-img-1.webp" />-->

									<img
										src="../assets/images/orsr.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- Service Featured Image End -->

							<!-- Service Entry Content Start -->
							<div class="service-entry">
<h2 class="text-anime-style-3">Registrácia prvozápisu a zmien s.r.o. do Obchodného registra SR</h2>
<p class="wow fadeInUp">
  Notári môžu s účinnosťou od 1. novembra 2023 registrovať prvý zápis spoločnosti s ručením obmedzeným do obchodného registra, okrem zápisu v dôsledku premeny alebo zmeny právnej formy. Od 1. januára 2025 môžu vykonávať aj zápis zmeny zapísaných údajov o spoločnosti s ručením obmedzeným.
</p>

<div class="about-company-service wow fadeInUp" data-wow-delay="0.5s">
  <div class="icon-box">
    <img src="../assets/images/icon-service-step-2.svg" alt="Zápis do OR SR" title="Zápis do OR SR">
  </div>
  <div class="company-service-content">
    <p style="font-weight: bold; font-size: 18px">Notársky zápis je rýchlejší, spoľahlivejší a plne elektronický.</p>
  </div>
</div>

<h3 class="text-anime-style-3">Spôsoby registrácie</h3>
<p class="wow fadeInUp">
  Podnikateľ môže konať osobne, elektronicky alebo prostredníctvom zástupcu (napr. advokáta, zamestnanca, notára). Návrh na zápis sa podáva výlučne elektronicky prostredníctvom služby na <a href="https://www.slovensko.sk">sluzby.orsr.sk</a>, pričom je potrebné priložiť všetky zákonom stanovené dokumenty, ako napríklad spoločenskú zmluvu, vyhlásenie správcu vkladu či súhlas vlastníka nehnuteľnosti.
</p>

<div class="services-step">
  <div class="row">
    <div class="col-md-6">
      <div class="service-benefits-item wow fadeInUp">
        <div class="icon-box"><h4 style="color: white">1</h4></div>
        <div class="service-benefits-content">
          <h3>Kompletná registrácia</h3>
          <p>Notár pripraví podklady, návrhový formulár a vykoná zápis do OR SR.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="service-benefits-item wow fadeInUp" data-wow-delay="0.25s">
        <div class="icon-box"><h4 style="color: white">2</h4></div>
        <div class="service-benefits-content">
          <h3>Čiastočná asistencia</h3>
          <p>Podnikateľ dodá podklady, notár pripraví návrhový formulár a vykoná registráciu.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="service-benefits-item wow fadeInUp" data-wow-delay="0.5s">
        <div class="icon-box"><h4 style="color: white">3</h4></div>
        <div class="service-benefits-content">
          <h3>Registrácia bez prípravy</h3>
          <p>Podnikateľ dodá všetky podklady aj návrh a notár vykoná len samotný zápis.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr style="color:#cdcaca; padding-bottom: 15px;" />
<h3 class="text-anime-style-3">Poplatky</h3>
<p class="wow fadeInUp">
  <strong>Zápis zmeny údajov</strong>: 45 € + 10,90 € (výdavky) = 55,90 € bez DPH / 68,76 € s DPH<br>
  <strong>Prvozápis spoločnosti</strong>: 165,90 € bez DPH / 204,06 € s DPH
</p>
							</div>
							<!-- Service Entry Content End -->
						</div>
					</div>

					<div class="col-lg-4">
						{{> sluzby }}
					</div>
				</div>
			</div>
		</div>
		<!-- Single Service Page End -->

		{{> footer }}
	</body>
</html>
