<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Overovanie podpisov a dokumentov | Notársky úrad JUDr. Ivica Hodálová, PhD.</title>
		<!-- Google Fonts Css-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>

		<!-- Head doplni wordpress-->
	</head>

	<body class="tt-magic-cursor">
		<!-- Preloader Start
		<div class="preloader">
			<div class="loading-container">
				<div class="loading"></div>
				<div id="loading-icon">
					<img
						src="../assets/images/loader.svg"
						alt="Loader"
						title="Loader"
						decoding="async"
						loading="lazy"
					/>
				</div>
			</div>
		</div>
		Preloader End -->

		<!-- Magic Cursor Start -->
		<div id="magic-cursor">
			<div id="ball">
				<div class="circle"></div>
			</div>
		</div>
		<!-- Magic Cursor End -->

		{{> header }}

		<!-- Page Header Start -->
		<div class="page-header light-bg-section">
		  <div class="container">
			<div class="row">
			  <div class="col-lg-12">
				<div class="page-header-box">
				  <h1 class="text-anime-style-3">Overovanie podpisov a dokumentov</h1>
				<p class="wow fadeInUp" data-wow-delay="0.25s" style="max-width: 800px;margin: auto;padding-bottom: 25px;">Notár zabezpečuje overenie pravosti podpisov a dokumentov, čím zaručuje ich zákonnosť a použiteľnosť na úradné účely.
</p>
				<div class="hero-content-footer wow fadeInUp" data-wow-delay="0.75s"
					style="visibility: visible; animation-delay: 0.75s;">
					<a href="/kontakt.html" class="btn-default">Objednať sa</a>
				</div>
				<!--<nav class="wow fadeInUp" data-wow-delay="0.25s">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Úvod</a></li>
					  <li class="breadcrumb-item"><a href="services.html">Služby</a></li>
					  <li class="breadcrumb-item active" aria-current="page">Overovanie podpisov a dokumentov</li>
					</ol>
				  </nav>-->
				</div>
			  </div>
			</div>
		  </div>
		</div>
		<!-- Page Header End -->

		<!-- Single Service Page Start -->
		<div class="page-service-single">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="service-single-content">
							<!-- Service Featured Image Start -->
							<div class="service-featured-image">
								<picture class="image-anime reveal">
									<!-- <source type="image/avif" srcset="../assets/images/service-img-1.avif"/>-->
									<!-- <source type="image/webp" srcset="../assets/images/service-img-1.webp" />-->

									<img
										src="../assets/images/overenia.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- Service Featured Image End -->

							<!-- Service Entry Content Start -->
							<div class="service-entry">
							  <h2 class="text-anime-style-3">Overovanie podpisov a dokumentov</h2>
							  <p class="wow fadeInUp">
								Notár zabezpečuje overenie pravosti podpisov a dokumentov, čo zaručuje ich zákonnosť a akceptovateľnosť na úradoch či inštitúciách. Táto služba je nevyhnutná pre právnu záväznosť zmlúv, dohôd alebo vyhlásení. Notár overí totožnosť podpisujúcej osoby a pridá úradnú doložku s pečiatkou.
							  </p>
							<div class="about-company-service wow fadeInUp" data-wow-delay="0.5s"
								style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
								<div class="icon-box">
									<img src="../assets/images/icon-service-step-3.svg" alt="Krok 3" title="Krok 3">
								</div>
								<div class="company-service-content">
							
									<p style="font-weight: bold; font-size: 18px">Notár zabezpečuje overenie pravosti podpisov a dokumentov, čím zaručuje ich zákonnosť a použiteľnosť na úradné účely.</p>
								</div>
							</div>
							  <h3 class="text-anime-style-3">Ako prebieha overenie</h3>
							  <p class="wow fadeInUp">
								Overenie pravosti podpisov a dokumentov je nevyhnutné pre ich právnu záväznosť. Notár vás prevedie jednoduchým procesom, ktorý zahŕňa kontrolu vašej totožnosti, zhodu údajov a pridanie úradnej doložky. Celý proces prebieha rýchlo, no s maximálnou dôslednosťou a zákonnou presnosťou.
							  </p>

							  <div class="services-step">
								<div class="row">
								  <div class="col-md-4">
									<div class="services-step-box wow fadeInUp" data-wow-delay="0.25s">
											<div class="icon-box">
												<h4 style="color: white">1</h4>
											</div>
									  <div class="services-step-content">
										<h3>Prinesiete dokument</h3>
										<p>Klient prinesie dokument na overenie.</p>
									  </div>
									</div>
								  </div>
								  <div class="col-md-4">
									<div class="services-step-box wow fadeInUp" data-wow-delay="0.5s">
											<div class="icon-box">
												<h4 style="color: white">2</h4>
											</div>
									  <div class="services-step-content">
										<h3>Overenie totožnosti</h3>
										<p>Notár overí totožnosť podpisujúcej osoby na základe dokladu.</p>
									  </div>
									</div>
								  </div>
								  <div class="col-md-4">
									<div class="services-step-box wow fadeInUp" data-wow-delay="0.75s">
											<div class="icon-box">
												<h4 style="color: white">3</h4>
											</div>
									  <div class="services-step-content">
										<h3>Úradná doložka</h3>
										<p>Dokument je označený doložkou a úradnou pečiatkou.</p>
									  </div>
									</div>
								  </div>
								</div>
							  </div>

							  <h3 class="text-anime-style-3">Výhody pre klienta</h3>
							  <p class="wow fadeInUp">
								Overené dokumenty sú kľúčom k hladkému vybaveniu úradných či súkromných záležitostí. Služba notára vám zabezpečí istotu, že vaše zmluvy alebo dokumenty budú bezproblémovo akceptované a splnia všetky legislatívne požiadavky.
							  </p>

							  <div class="customer-Benefit">
								<div class="row align-items-center">
								  <div class="col-md-6">
									<div class="customer-benefit-image">
									  <img src="../assets/images/vyhody-1.jpg" alt="Výhody pre klientov" title="Výhody pre klientov" />
									</div>
								  </div>
								  <div class="col-md-6">
									<div class="customer-Benefit-content wow fadeInUp" data-wow-delay="0.5s">
									  <ul>
										<li>Dokumenty sú akceptované všetkými úradmi a inštitúciami.</li>
										<li>Zabezpečenie právnej istoty pri dôležitých zmluvách a dohodách.</li>
										<li>Rýchly, bezpečný a zrozumiteľný proces overenia.</li>
									  </ul>
									</div>
								  </div>
								</div>
							  </div>
							</div>
							<!-- Service Entry Content End -->
						</div>
					</div>

					<div class="col-lg-4">
						{{> sluzby }}
					</div>
				</div>
			</div>
		</div>
		<!-- Single Service Page End -->

		{{> footer }}
	</body>
</html>
