<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Home</title>
		<!-- Google Fonts Css-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>

		<script>
			console.log('DBG Kan ', '');
			
		</script>
		<!-- Head doplni wordpress-->
	</head>

	<body class="tt-magic-cursor">
		<!-- Preloader Start
		<div class="preloader">
			<div class="loading-container">
				<div class="loading"></div>
				<div id="loading-icon">
					<img
						src="./assets/images/loader.svg"
						loading="eager"
						alt="Loader"
						title="Loader"
					/>
				</div>
			</div>
		</div>
		Preloader End -->

		<!-- Magic Cursor Start -->
		<div id="magic-cursor">
			<div id="ball">
				<div class="circle"></div>
			</div>
		</div>
		<!-- Magic Cursor End -->

		{{> header}}

		<!-- Hero Section Start -->
		<div class="hero light-bg-section">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<!-- Hero Left Content Start -->
						<div class="hero-content">
							<div class="section-title">
								<h1 class="text-anime-style-3">
									Notársky úrad pripravený riešiť vaše potreby ⚖️.
								</h1>
							</div>
							<div
								class="hero-content-body wow fadeInUp"
								data-wow-delay="0.5s"
							>
								<p>
									Naša kancelária vám ponúka profesionálne a spoľahlivé notárske služby v rôznych oblastiach práva. Sme tu, aby sme vám
									pomohli zabezpečiť vaše právne istoty, či už ide o overenie dokumentov, spisovanie zmlúv alebo poradenstvo. Obráťte sa
									na nás a spoločne nájdeme riešenie prispôsobené vašim požiadavkám.
								</p>
							</div>

							<div
								class="hero-content-footer wow fadeInUp"
								data-wow-delay="0.75s"
							>
								<a href="#" class="btn-default">Naše služby</a>
								<a href="#" class="btn-default btn-highlighted"
									>Kontaktujte nás</a
								>
							</div>
						</div>
						<!-- Hero Left Content End -->
					</div>

					<div class="col-lg-6">
						<!-- Hero Image Start -->
						<div class="hero-image">
							<picture>
								<!-- <source type="image/avif" srcset="./assets/images/hero-img.avif"/>-->
								<!-- <source type="image/webp" srcset="./assets/images/hero-img.webp" />-->
								<img
									src="./assets/images/hero.jpg"
									alt="Doplni wordpress"
									title="Doplni wordpress"
									decoding="async"
									loading="eager"
									width="558"
									height="570"
								/>
							</picture>
						</div>
						<!-- Hero Image End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Hero Section End -->

		<!-- About Section Start -->
		<div class="about-us">
			<div class="container">
				<div class="row section-row align-items-center">
					<div class="col-lg-6">
						<!-- Section Title Start -->
						<div class="section-title">
							<h3 class="wow fadeInUp">O nás</h3>
							<h2 class="text-anime-style-3">
								Notársky úrad pripravený riešiť vaše potreby.
							</h2>
						</div>
						<!-- Section Title End -->
					</div>

					<div class="col-lg-6">
						<!-- Section Title Content Start -->
						<div
							class="section-title-content wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<p>
								Notársky úrad JUDr. Ivica Hodálová, PhD., poskytuje komplexné notárske služby vrátane osvedčovania dokumentov,
								spisovania notárskych zápisníc, overovania podpisov a ďalších úkonov v súlade s platnou legislatívou.
							</p>
						</div>
						<!-- Section Title Content End -->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						<!-- About Video Image Start -->
						<div class="about-video-image">
							<!-- About Image Start -->
							<div class="about-image">
								<picture class="image-anime reveal">
									<!-- <source type="image/avif" srcset="./assets/images/about-us-img.avif"/>-->
									<!-- <source type="image/webp" srcset="./assets/images/about-us-img.webp" />-->
									<img
										src="./assets/images/hero-second.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- About Image End -->

							<!-- About Video Btn Start
							<div class="about-video-btn">
								<div class="icon-box">
									<a
										href="https://www.youtube.com/watch?v=Y-x0efG1seA"
										class="popup-video"
										><i class="fa-solid fa-play"></i>play
										video</a
									>
								</div>
							</div>
							About Video Btn End -->

						</div>
						<!-- About Video Image End -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<!-- About Company Item Start -->
						<div
							class="about-company-item wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-about-company-1.svg"
									alt="about"
									title="about"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="about-company-content">
								<p>
									Garantujeme právnu istotu a dôsledné spracovanie vašich dokumentov.
								</p>
							</div>
						</div>
						<!-- About Company Item End -->
					</div>

					<div class="col-md-4">
						<!-- About Company Item Start -->
						<div
							class="about-company-item wow fadeInUp"
							data-wow-delay="0.5s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-about-company-2.svg"
									alt="About"
									title="About"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="about-company-content">
								<p>
									Promptne vybavíme vaše požiadavky s dôrazom na úsporu vášho času.
								</p>
							</div>
						</div>
						<!-- About Company Item End -->
					</div>

					<div class="col-md-4">
						<!-- About Company Item Start -->
						<div
							class="about-company-item wow fadeInUp"
							data-wow-delay="0.75s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-about-company-3.svg"
									alt="about"
									title="about"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="about-company-content">
								<p>
									Každého klienta riešime s maximálnou starostlivosťou a diskrétnosťou.
								</p>
							</div>
						</div>
						<!-- About Company Item End -->
					</div>
				</div>
			</div>
		</div>
		<!-- About Section End -->

		<!-- Our Services Start -->
		<div class="our-service light-bg-section">
			<div class="container">
				<div class="row section-row align-items-center">
					<div class="col-lg-5">
						<!-- Section Title Start -->
						<div class="section-title">
							<h3 class="wow fadeInUp">Naše služby</h3>
							<h2 class="text-anime-style-3">
								Vaša spokojnosť je našou prioritou
							</h2>
						</div>
						<!-- Section Title End -->
					</div>

					<div class="col-lg-7">
						<!-- Section Title Content Start -->
						<div
							class="section-title-content wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<p>
								Notársky úrad poskytuje široké spektrum služieb so zárukou profesionality, presnosti a diskrétnosti. Našou prioritou je
								spokojnosť klientov, ktorú dosahujeme individuálnym prístupom a efektívnym vybavením všetkých požiadaviek.
							</p>
						</div>
						<!-- Section Title Content End -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<!-- Service Item Start -->
						<div
							class="service-item wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<div class="service-image">
								<figure class="image-anime">
									<a href="#">
										<picture class="image-anime reveal">
											<!-- <source type="image/avif" srcset="./assets/images/service-img-1.avif"/> -->
											<!-- <source type="image/webp" srcset="./assets/images/service-img-1.webp" />-->
											<img
												src="./assets/images/overenia.jpg"
												alt="Doplni wordpress"
												title="Doplni wordpress"
												decoding="async"
												loading="lazy"
											/>
										</picture>
									</a>
								</figure>
							</div>
							<div class="service-content">
								<h3>Osvedčenia a overenia</h3>
								<div class="service-readmore-btn">
									<a href="#" class="btn-default"
										>Čítať viac</a
									>
								</div>
							</div>
						</div>
						<!-- Service Item End -->
					</div>

					<div class="col-md-4">
						<!-- Service Item Start -->
						<div
							class="service-item wow fadeInUp"
							data-wow-delay="0.5s"
						>
							<div class="service-image">
								<figure class="image-anime">
									<a href="#">
										<picture class="image-anime reveal">
											<!-- <source type="image/avif" srcset="./assets/images/service-img-2.avif"/> -->
											<!-- <source type="image/webp" srcset="./assets/images/service-img-2.webp" />-->
											<img
												src="./assets/images/zmluvy.jpg"
												alt="Doplni wordpress"
												title="Doplni wordpress"
												decoding="async"
												loading="lazy"
											/>
										</picture>
									</a>
								</figure>
							</div>
							<div class="service-content">
								<h3>Zmluvy a právne dokumenty</h3>
								<div class="service-readmore-btn">
									<a href="#" class="btn-default"
										>Čítať viac</a
									>
								</div>
							</div>
						</div>
						<!-- Service Item End -->
					</div>

					<div class="col-md-4">
						<!-- Service Item Start -->
						<div
							class="service-item wow fadeInUp"
							data-wow-delay="0.75s"
						>
							<div class="service-image">
								<figure class="image-anime">
									<a href="#">
										<picture class="image-anime reveal">
											<!-- <source type="image/avif" srcset="./assets/images/service-img-3.avif"/> -->
											<!-- <source type="image/webp" srcset="./assets/images/service-img-3.webp" />-->
											<img
												src="./assets/images/dedicstvo.jpg"
												alt="Doplni wordpress"
												title="Doplni wordpress"
												decoding="async"
												loading="lazy"
											/>
										</picture>
									</a>
								</figure>
							</div>
							<div class="service-content">
								<h3>Dedičské konania</h3>
								<div class="service-readmore-btn">
									<a href="#" class="btn-default"
										>Čítať viac</a
									>
								</div>
							</div>
						</div>
						<!-- Service Item End -->
					</div>

					<!-- Services Footer Btn Start -->
					<div
						class="service-footer-btn wow fadeInUp"
						data-wow-delay="0.5s"
					>
						<a href="/services.html" class="btn-default">Všetky služby</a>
					</div>
					<!-- Services Footer Btn End -->
				</div>
			</div>
		</div>
		<!-- Our Services End -->

		{{> counter }}

		<!-- Why Choose Us Section Start -->
		<div class="why-choose-us light-bg-section">
			<div class="container">


				<div class="row">
					<div class="col-lg-12">
						<!-- Why Choose Image Box Start -->
						<div
							class="why-choose-image-box wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<!-- Why Choose Image Start -->
							<div class="why-choose-image">
								<picture>
									<!-- <source type="image/avif" srcset="./assets/images/why-choose-us-img.avif"/> -->
									<!-- <source type="image/webp" srcset="../assets/images/why-choose-us-img.webp" />-->
									<img
										src="./assets/images/hero-second.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- Why Choose Image End -->

							<!-- Why Choose Content Start -->
							<div class="why-choose-content">
								<!-- Why Choose Title Start -->
								<div class="why-choose-title">
									<h2 class="text-anime-style-3">
										Profesionalita, spoľahlivosť a diskrétnosť pre každého klienta
									</h2>
								</div>
								<!-- Why Choose Title End -->

								<!-- Why Choose Counter Start -->
								<div class="why-choose-counter">
									<h3>
										15 rokov
									</h3>
									<p>notárskej praxe</p>
								</div>
								<!-- Why Choose Counter End -->
							</div>
							<!-- Why Choose Content End -->
						</div>
						<!-- Why Choose Image Box End -->
					</div>
				</div>

				<div class="row">
					<div class="col-lg-4">
						<!-- Why Choose Item Start -->
						<div
							class="why-choose-item wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-why-choose-1.svg"
									alt="Why choose"
									title="Why choose"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="why-choose-body">
								<h3>Experti, ktorým môžete dôverovať</h3>
								<p>
									Skúsení notári s profesionálnym prístupom a dlhoročnou expertízou pre vaše právne istoty.
								</p>
							</div>
						</div>
						<!-- Why Choose Item End -->
					</div>

					<div class="col-lg-4">
						<!-- Why Choose Item Start -->
						<div
							class="why-choose-item wow fadeInUp"
							data-wow-delay="0.5s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-why-choose-2.svg"
									alt="Why choose"
									title="Why choose"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="why-choose-body">
								<h3>Zrozumiteľná komunikácia</h3>
								<p>
									Jasné, presné a zrozumiteľné vysvetlenia pre vaše právne záležitosti.
								</p>
							</div>
						</div>
						<!-- Why Choose Item End -->
					</div>

					<div class="col-lg-4">
						<!-- Why Choose Item Start -->
						<div
							class="why-choose-item wow fadeInUp"
							data-wow-delay="0.75s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-why-choose-3.svg"
									alt="Why choose"
									title="Why choose"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="why-choose-body">
								<h3>Spokojnosť klienta</h3>
								<p>
									Individuálny prístup a spoľahlivé služby pre vašu maximálnu spokojnosť.
								</p>
							</div>
						</div>
						<!-- Why Choose Item End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Why Choose Us Section End -->

		<!-- Our Employee Section Start -->
		<div class="our-employee">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="employee-image">
							<picture>
								<!-- <source type="image/avif" srcset="./assets/images/employee-img.avif"/> -->
								<!-- <source type="image/webp" srcset="./assets/images/employee-img.webp" />-->
								<img
									src="./assets/images/employee-img.png"
									alt="Doplni wordpress"
									title="Doplni wordpress"
									decoding="async"
									loading="lazy"
								/>
							</picture>
						</div>
					</div>

					<div class="col-lg-6">
						<!-- Employee Content Start -->
						<div class="employee-content">
							<!-- Section Title Start -->
							<div class="section-title">
								<h3 class="wow fadeInUp">Prečo si vybrať nás</h3>
								<h2 class="text-anime-style-3">
									Prečo zvoliť práve náš notársky úrad?
								</h2>
							</div>
							<!-- Section Title End -->

							<!-- Employee Body Start -->
							<div
								class="employee-body wow fadeInUp"
								data-wow-delay="0.25s"
							>
								<p>
									Prečo zvoliť práve náš notársky úrad?
									Náš notársky úrad vám poskytne odborné, spoľahlivé a rýchle služby s dôrazom na individuálny prístup. Zrozumiteľná
									komunikácia, diskrétnosť a profesionalita sú pre nás samozrejmosťou. Využívame dlhoročné skúsenosti na to, aby sme vám
									poskytli právnu istotu a komfort pri riešení vašich záležitostí. S nami máte istotu, že vaše dokumenty budú spracované
									presne, zákonne a s maximálnou starostlivosťou.

								</p>
							</div>
							<!-- Employee Body End -->

							<!-- Employee Footer Start -->
							<div class="employee-footer">
								<!-- Employee Counter Box Start -->
								<div class="employee-counter-box">
									<h3><span class="counter">500</span>+</h3>
									<p>klientov týždenne</p>
								</div>
								<!-- Employee Counter Box End -->

								<!-- Employee Counter Box Start -->
								<div class="employee-counter-box">
									<h3><span class="counter">99</span>%</h3>
									<p>spokojných klientov</p>
								</div>
								<!-- Employee Counter Box End -->
							</div>
							<!-- Employee Footer End -->
						</div>
						<!-- Employee Content End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Our Employee Section End -->

		{{> cta }}

		<!-- We Help Section Start -->
		<div class="we-help">
			<div class="container">
				<div class="row section-row align-items-center">
					<div class="col-lg-6">
						<!-- Section Title Start -->
						<div class="section-title">
							<h3 class="wow fadeInUp">Pre koho tu sme</h3>
							<h2 class="text-anime-style-3">
								Náš tím vie vyhovieť rôznym typom klientov
							</h2>
						</div>
						<!-- Section Title End -->
					</div>

					<div class="col-lg-6">
						<!-- Section Title Content Start -->
						<div
							class="section-title-content wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<p>
								Náš tím pristupuje ku každému klientovi s porozumením a profesionalitou. Poskytujeme služby jednotlivcom, podnikateľom,
								firmám, dedičom aj zahraničným klientom. Bez ohľadu na vaše potreby vám garantujeme odborné poradenstvo, spoľahlivosť a
								právnu istotu.
							</p>
						</div>
						<!-- Section Title Content End -->
					</div>
				</div>

				<div class="row">
					<!-- We Help Content Start -->
					<div class="we-help-content">
						<!-- We Help Box Start -->
						<div class="we-help-box wow fadeInUp">
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-1.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Jednotlivci</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-2.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Podnikatelia</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="0.5s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-3.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Firmy</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="0.75s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-4.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Dedičia</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="1s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-5.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Zahraniční klienti</h3>
							</div>
						</div>
						<!-- We Help Box End -->
					</div>
					<!-- We Help Content End -->
				</div>
			</div>
		</div>
		<!-- We Help Section End -->

		{{> footer }}
	</body>
</html>
