<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Notársky úrad JUDr. Ivica Hodálová, PhD.</title>
		<!-- Google Fonts Css-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>

		<script>
			console.log('DBG Kan ', '');
			
		</script>
		<!-- Head doplni wordpress-->
	</head>

	<body class="tt-magic-cursor">
		<!-- Preloader Start
		<div class="preloader">
			<div class="loading-container">
				<div class="loading"></div>
				<div id="loading-icon">
					<img
						src="./assets/images/loader.svg"
						loading="eager"
						alt="Loader"
						title="Loader"
					/>
				</div>
			</div>
		</div>
		Preloader End -->

		<!-- Magic Cursor Start -->
		<div id="magic-cursor">
			<div id="ball">
				<div class="circle"></div>
			</div>
		</div>
		<!-- Magic Cursor End -->

		{{> header}}

		<!-- Hero Section Start -->
		<div class="hero light-bg-section">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<!-- Hero Left Content Start -->
						<div class="hero-content">
							<div class="section-title">
								<h1 class="text-anime-style-3">
									NOTÁRSKY ÚRAD TRNAVA, JUDr. Ivica Hodálová, PhD.
								</h1>
							</div>
							<div
								class="hero-content-body wow fadeInUp"
								data-wow-delay="0.5s"
							>
								<p>
									Naša kancelária vám ponúka profesionálne a spoľahlivé notárske služby v rôznych
									oblasVach práva. Sme tu, aby sme vám pomohli zabezpečiť vaše právne istoty, či už
									ide o overenie dokumentov, spisovanie zmlúv alebo poradenstvo.
								</p>
							</div>

							<div
								class="hero-content-footer wow fadeInUp"
								data-wow-delay="0.75s"
							>
								<a href="/sluzby.html" class="btn-default">Naše služby</a>
								<a href="/kontakt.html" class="btn-default btn-highlighted"
									>Kontaktujte nás</a
								>
							</div>
						</div>
						<!-- Hero Left Content End -->
					</div>

					<div class="col-lg-6">
						<!-- Hero Image Start -->
						<div class="hero-image">
							<picture>
								<!-- <source type="image/avif" srcset="./assets/images/hero-img.avif"/>-->
								<!-- <source type="image/webp" srcset="./assets/images/hero-img.webp" />-->
								<img
									src="./assets/images/hero.jpg"
									alt="Doplni wordpress"
									title="Doplni wordpress"
									decoding="async"
									loading="eager"
									width="558"
									height="570"
								/>
							</picture>
						</div>
						<!-- Hero Image End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Hero Section End -->

	
		
		{{> cta }}

		<!-- We Help Section Start -->
		<div class="we-help">
			<div class="container">


				<div class="row">
					<!-- We Help Content Start -->
					<div class="we-help-content">
						<!-- We Help Box Start -->
						<div class="we-help-box wow fadeInUp">
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-1.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Jednotlivci</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-2.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Podnikatelia</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="0.5s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-3.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Firmy</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="0.75s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-4.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Dedičia</h3>
							</div>
						</div>
						<!-- We Help Box End -->

						<!-- We Help Box Start -->
						<div
							class="we-help-box wow fadeInUp"
							data-wow-delay="1s"
						>
							<div class="icon-box">
								<img
									src="./assets/images/icon-help-5.svg"
									alt="Help"
									title="Help"
									decoding="async"
									loading="lazy"
								/>
							</div>
							<div class="we-help-title">
								<h3>Zahraniční klienti</h3>
							</div>
						</div>
						<!-- We Help Box End -->
					</div>
					<!-- We Help Content End -->
				</div>
			</div>
		</div>
		<!-- We Help Section End -->

		{{> footer }}
	</body>
</html>
