<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Service detail</title>
		<!-- Google Fonts Css-->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
			rel="stylesheet"
		/>

		<!-- Head doplni wordpress-->
	</head>

	<body class="tt-magic-cursor">
		<!-- Preloader Start
		<div class="preloader">
			<div class="loading-container">
				<div class="loading"></div>
				<div id="loading-icon">
					<img
						src="./assets/images/loader.svg"
						alt="Loader"
						title="Loader"
						decoding="async"
						loading="lazy"
					/>
				</div>
			</div>
		</div>
		Preloader End -->

		<!-- Magic Cursor Start -->
		<div id="magic-cursor">
			<div id="ball">
				<div class="circle"></div>
			</div>
		</div>
		<!-- Magic Cursor End -->

		{{> header }}

		<!-- Page Header Start -->
		<div class="page-header light-bg-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<!-- Page Header Box Start -->
						<div class="page-header-box">
							<h1 class="text-anime-style-3">Kontaktujte nás</h1>
							<nav class="wow fadeInUp" data-wow-delay="0.25s">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="/">Domov</a>
									</li>
									<li
										class="breadcrumb-item active"
										aria-current="page"
									>
										Kontakt
									</li>
								</ol>
							</nav>
						</div>
						<!-- Page Header Box End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Page Header End -->

		<!-- Contact Information Section Start -->
		<div class="contact-information">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<!-- Contact Info Item Start -->
						<div
							class="contact-info-item wow fadeInUp"
							data-wow-delay="0.25s"
						>
							<!-- Contact Image Start -->
							<div class="contact-image">
								<picture class="image-anime">
									<!-- <source type="image/avif" srcset="./assets/images/location-img.avif"/>-->
									<!-- <source type="image/webp" srcset="./assets/images/location-img.webp" />-->
									<img
										src="./assets/images/kontakt_adresa.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- Contact Image End -->

							<!-- Contact Info Box Start -->
							<div class="contact-info-box">
								<div class="icon-box">
									<img
										src="./assets/images/icon-location.svg"
										alt="Location"
										title="Location"
										decoding="async"
										loading="lazy"
									/>
								</div>
								<div class="contact-info-content">
									<p>
										<a href="https://www.google.com/maps?q=Halenárska+7,+917+01+Trnava" target="_blank" rel="noopener">
											Halenárska 7, 917 01 Trnava
										</a>
									</p>
								</div>
							</div>
							<!-- Contact Info Box End -->
						</div>
						<!-- Contact Info Item End -->
					</div>

					<div class="col-md-4">
						<!-- Contact Info Item Start -->
						<div
							class="contact-info-item wow fadeInUp"
							data-wow-delay="0.5s"
						>
							<!-- Contact Image Start -->
							<div class="contact-image">
								<picture class="image-anime">
									<!-- <source type="image/avif" srcset="./assets/images/email-img.avif"/>-->
									<!-- <source type="image/webp" srcset="./assets/images/email-img.webp" />-->
									<img
										src="./assets/images/kontakt_email.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- Contact Image End -->

							<!-- Contact Info Box Start -->
							<div class="contact-info-box">
								<div class="icon-box">
									<img
										src="./assets/images/icon-email.svg"
										alt="Email"
										title="Email"
										decoding="async"
										loading="lazy"
									/>
								</div>
								<div class="contact-info-content">
									<p><a href="mailto:ivica.hodalova@notar.sk">ivica.hodalova@notar.sk</a></p>
								</div>
							</div>
							<!-- Contact Info Box End -->
						</div>
						<!-- Contact Info Item End -->
					</div>

					<div class="col-md-4">
						<!-- Contact Info Item Start -->
						<div
							class="contact-info-item wow fadeInUp"
							data-wow-delay="0.75s"
						>
							<!-- Contact Image Start -->
							<div class="contact-image">
								<picture class="image-anime">
									<!-- <source type="image/avif" srcset="/assets/images/phone-img.avif"/>-->
									<!-- <source type="image/webp" srcset="/assets/images/phone-img.webp" />-->
									<img
										src="./assets/images/kontakt_mobile.jpg"
										alt="Doplni wordpress"
										title="Doplni wordpress"
										decoding="async"
										loading="lazy"
									/>
								</picture>
							</div>
							<!-- Contact Image End -->

							<!-- Contact Info Box Start -->
							<div class="contact-info-box">
								<div class="icon-box">
									<img
										src="./assets/images/icon-phone.svg"
										alt="Phone"
										title="Phone"
										decoding="async"
										loading="lazy"
									/>
								</div>
								<div class="contact-info-content">
									<p><a href="tel:+421948154432">+421 948 154 432</a></p>
								</div>
							</div>
							<!-- Contact Info Box End -->
						</div>
						<!-- Contact Info Item End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Contact Information Section End -->

<!-- Contact Us Section Start -->
<div class="contact-us light-bg-section">
	<div class="container">
		<div class="row section-row align-items-center">
			<div class="col-lg-6">
				<!-- Section Title Start -->
				<div class="section-title">
					<h3 class="wow fadeInUp">Kontaktujte nás</h3>
					<h2 class="text-anime-style-3">
						Potrebujete pomôcť? Sme vám k dispozícii
					</h2>
				</div>
				<!-- Section Title End -->
			</div>

			<div class="col-lg-6">
				<!-- Section Title Content Start -->
				<div class="section-title-content wow fadeInUp" data-wow-delay="0.25s">
					<p>
						Ak máte otázky k našim službám alebo si želáte dohodnúť stretnutie, neváhajte nás kontaktovať
						prostredníctvom formulára. Radi vám poskytneme podrobné informácie a profesionálnu pomoc.
						Každému klientovi sa venujeme individuálne a diskrétne.
					</p>
				</div>
				<!-- Section Title Content End -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<!-- Contact Form Start -->
				<div class="contact-form wow fadeInUp" data-wow-delay="0.25s">
					<form id="contactForm" action="#" method="POST" data-toggle="validator">
						<div class="row">
							<div class="form-group col-md-6 mb-4">
								<input type="text" name="fname" class="form-control" id="fname" placeholder="Meno"
									required />
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group col-md-6 mb-4">
								<input type="text" name="lname" class="form-control" id="lname" placeholder="Priezvisko"
									required />
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group col-md-6 mb-4">
								<input type="email" name="email" class="form-control" id="email" placeholder="Email"
									required />
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group col-md-6 mb-4">
								<input type="text" name="phone" class="form-control" id="phone" placeholder="Telefón"
									required />
								<div class="help-block with-errors"></div>
							</div>

							<div class="form-group col-md-12 mb-4">
								<textarea name="msg" class="form-control" id="msg" rows="7" placeholder="Vaša správa"
									required></textarea>
								<div class="help-block with-errors"></div>
							</div>

							<div class="col-md-12">
								<button type="submit" class="btn-default">
									Odoslať správu
								</button>
								<div id="msgSubmit" class="h3 hidden"></div>
							</div>
						</div>
					</form>
				</div>
				<!-- Contact Form End -->
			</div>
		</div>
	</div>
</div>
<!-- Contact Us Section End -->

<!-- Location Map Section Start -->
<div class="location-map">
	<div class="container">
		<div class="row section-row align-items-center">
			<div class="col-lg-6">
				<!-- Section Title Start -->
				<div class="section-title">
					<h3 class="wow fadeInUp">Kde nás nájdete</h3>
					<h2 class="text-anime-style-3">
						Navštívte nás priamo v centre Trnavy
					</h2>
				</div>
				<!-- Section Title End -->
			</div>

			<div class="col-lg-6">
				<!-- Section Title Content Start -->
				<div class="section-title-content wow fadeInUp" data-wow-delay="0.25s">
					<p>
						Notársky úrad JUDr. Ivicy Hodálovej, PhD., sídli na adrese <strong>Halenárska 7, 917 01
							Trnava</strong>, len niekoľko krokov od historického centra.
						Dostanete sa k nám pohodlne autom aj pešo, pričom parkovanie je dostupné v blízkom okolí. Tešíme
						sa na vašu návštevu počas úradných hodín.
					</p>
				</div>
				<!-- Section Title Content End -->
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<!-- Google Map Start -->
				<div class="google-map">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2666.3941788783585!2d17.585046115688828!3d48.37559797924002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c9b8ff94a282f%3A0x75a9e7e9f4c858f4!2sHalen%C3%A1rska%207%2C%20917%2001%20Trnava!5e0!3m2!1ssk!2ssk!4v1719316552759!5m2!1ssk!2ssk"
						width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<!-- Google Map End -->
			</div>
		</div>
	</div>
</div>
<!-- Location Map Section End -->

		{{> footer }}
	</body>
</html>
